<!-- <p id="notice"><%= notice %></p>
 -->
<h1>Listing Cards</h1>

<div>
  <%= link_to new_card_path, remote: true do %>
    <button>New</button>
  <% end %>
</div>

<div id="card-form" style="display:none;"></div>

<div id="cards"><%= render @cards %></div>

<div id="card-form-each" style="display:none;"></div>
